@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
$fontFamily: 'Open Sans', sans-serif;
$fontSize: 16px;
$orange: #f8a055;
$black: #221f1a;
$gray: #5a574e;
$green: #988d51;
$white:#fff;
$transition: .4s ease;
$padding: 70px 0;
$textShadow: 0 0 2px  $black;

@mixin flex($justify-content, $align-items, $direction, $wrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    direction: $direction;
    flex-wrap: $wrap;
}
@mixin bgImg($bgPos, $bgSize, $bgRepeat, $height) {
background-position: $bgPos;
background-size: $bgSize;
background-repeat: $bgRepeat;
height: $height;
    
}
@mixin btn {
padding: 15px 30px;
background: $orange;
border: none;
text-transform: uppercase;
margin-top: 20px;
letter-spacing: 2px;
cursor:pointer;
&:hover{
    transition: $transition;
    background: lighten($orange,5%);
}

}


/***************
basic styles
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.7;
    color: $black;
}
.container {
    width: 60%;
    margin: auto;
}
h1{
    font-size: 4rem;
    text-align: center;
}
a{
    color: $black;
    text-decoration: none;
    &:hover {
        color:$orange;
        transition: $transition;
    }
}
ul{
    list-style: none;
}

/***nav***/
nav {
    .container {
        @include flex(space-between, center, row, wrap);
        .logo{
            color:$orange;
            font-size: 2rem;
            font-weight: 800;
            span {
                font-weight: 300;
                color: $black;
                font-style: italic;
            }
        }
        ul{
            @include flex(justify-content,center, row,wrap);
            li {
                margin-left: 50px;
            }
        }
    }
}

/***footer***/
footer{
    @include flex(center, strech, row, wrap);

    article{
        text-align: left;
        color: $white;       
    }

    article:nth-child(1) {
        flex:0 0 50%;
        background: $gray;
        padding: 60px;
        h3{
            padding-bottom: 20px;
        }
    }
    article:nth-child(2){
        flex:0 0 50%;
        background: $orange;
        padding: 60px;
        h2{
            padding-bottom: 20px;
            font-size: 2rem;;
        }
    }
}

.bootomBar{
    text-align: center;
    p{
        padding: 20px;
       a {
            color: $orange;
        }
    }
    }

    /***mainHeader***/
    .mainHeader {
        background-image:  linear-gradient(to right, rgba($white,0.99), rgba($white,0.01)),url(../img/header.jpg);
        @include bgImg(center,cover,no-repeat , 80vh );
        @include flex(flex-start, center, row ,wrap );
        div{
            flex: 0 0 40%;
            margin-left: 10%;
            padding: 40px;
            background:  linear-gradient(to right, rgba($white,0.99), rgba($white,0.01));
            h1{
                color: $orange;
                text-shadow: 0 0 2px $black;
            }

            button{
                @include btn;
            }          
        }
    }

    .uvod{
        padding: $padding;
        @include flex(space-between, center,row ,wrap );
        article{
            flex: 1;
            padding: 50px;
            h2{
                font-weight: 800;
                span{
                    font-weight: 300;
                    font-style: italic;
                }
            }
            h3{
                font-size: 5rem;
                color: $orange;
                text-shadow: 0 0 2px $black;
            }
            h4{
                font-size: 1.5rem;
                margin-bottom:30px;
            }
        }
    }
    

